* {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: black;
}

.player {
  width: 100vw;
  height: 100vh;
}

.log {
  animation: fade-out 5s linear;
  font-weight: 500;
  font-family: monospace;
  background-color: #0000006b;
  color: white;
}

.presence {
  font-family: monospace;
  font-weight: 500;
  background-color: #0000006b;
  color: #ff6c6c;
}

.p-ready {
  color: #6cff8c;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
